.profile {
  text-align: left;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 10px;
  background-color: #f1eeee;
  margin-top: 10px;
}
.profile img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid black;
}
